<header>
  <div class="inner">
    <h1>Datateknik LTH</h1>
    <a href="https://github.com/datateknik-lth/datateknik-lth" class="button"><small>Visa på</small> GitHub</a>
    
    <h2><%= breadcrumbs %></h2>
  </div>
</header>
